<!DOCTYPE html>
<html>
  <head>
    <title>ThoughtwinDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'outer', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'outer', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/normal_user" %>
    <%= yield %>
  </body>
</html>
